.bg-dark {
  background-color: rgb(56,56,56);
}

.bg-dark .product-card-title {
  color: #fff;
}

.bg-dark .product-card-image {
  filter:blur(.01rem);
}

.bg-dark .product-card-button div,
.bg-dark .product-card-button button {
  color: white;
  font-weight: bold;
  border-color: white;
}

.shopping-card{
  position:fixed;
  top: 0;
  right: 0;
}